## Observations and Insights

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
study_data_complete = pd.merge(mouse_metadata, study_results, how="left", on=["Mouse ID", "Mouse ID"])
study_data_complete = study_data_complete.drop_duplicates(['Mouse ID' , 'Timepoint'])


# Display the data table for preview

study_data_complete

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [2]:
# Checking the number of mice.
mouse_number = study_data_complete['Mouse ID'].unique()
mouse_number = len(mouse_number)
mouse_number

249

In [3]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
compare_df = study_data_complete.drop(columns= ['Drug Regimen', 'Sex' , 'Age_months' , 'Weight (g)' , 'Tumor Volume (mm3)', 'Metastatic Sites'])
compare_df['Timepoint'] = compare_df['Timepoint'].astype(str)
compare_df['combined'] = compare_df['Mouse ID'] + compare_df['Timepoint']
compare_df
counts = compare_df.drop_duplicates(['combined'])
counts.count()

Mouse ID     1888
Timepoint    1888
combined     1888
dtype: int64

In [4]:
# Optional: Get all the data for the duplicate mouse ID.

In [5]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
clean_sd = study_data_complete.drop_duplicates(['Mouse ID' , 'Timepoint'])
clean_sd

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [6]:
# Checking the number of mice in the clean DataFrame.
mouse_number = clean_sd['Mouse ID'].unique()
mouse_number = len(mouse_number)
mouse_number

249

## Summary Statistics

In [20]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen


# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.
simple_sd = clean_sd.drop(columns = ['Mouse ID' , 'Sex' , 'Age_months' , 'Weight (g)' , 'Timepoint' , 
                                     'Metastatic Sites'])
drug = 'Drug Regimen'
tumor_vol = 'Tumor Volume (mm3)'

regimen_mean = clean_sd.groupby([drug]).mean()
regimen_median = clean_sd.groupby([drug]).median()
regimen_variance = clean_sd.groupby([drug]).var()
regimen_std = clean_sd.groupby([drug]).std()
regimen_sem = clean_sd.groupby([drug]).sem()

summary = pd.DataFrame()
summary ['Mean'] = regimen_mean.loc[:,tumor_vol]
summary ['Median'] = regimen_median.loc[:,tumor_vol]
summary ['Variance'] = regimen_variance.loc[:,tumor_vol]
summary ['Standard Deviation'] = regimen_std.loc[:,tumor_vol]
summary ['SEM'] = regimen_sem.loc[:,tumor_vol]

summary

     Drug Regimen  Tumor Volume (mm3)
0        Ramicane           45.000000
1        Ramicane           38.825898
2        Ramicane           35.014271
3        Ramicane           34.223992
4        Ramicane           32.997729
...           ...                 ...
1888     Naftisol           63.145652
1889     Naftisol           65.841013
1890     Naftisol           69.176246
1891     Naftisol           70.314904
1892     Naftisol           73.867845

[1888 rows x 2 columns]

In [30]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line


#pivot_df = simple_sd.pivot(index ='Tumor Volume (mm3)', columns ='Drug Regimen')

agg_sd = simple_sd.groupby(drug).agg(['mean', 'median' ,'var' , 'std' , 'sem'])
agg_sd

             Tumor Volume (mm3)
                           mean     median        var       std       sem
Drug Regimen
Capomulin             40.675741  41.557809  24.947764  4.994774  0.329346
Ceftamin              52.591172  51.776157  39.290177  6.268188  0.469821
Infubinol             52.884795  51.820584  43.128684  6.567243  0.492236
Ketapril              55.235638  53.698743  68.553577  8.279709  0.603860
Naftisol              54.331565  52.509285  66.173479  8.134708  0.596466
Placebo               54.033581  52.288934  61.168083  7.821003  0.581331
Propriva              52.393463  50.909965  43.138803  6.568014  0.525862
Ramicane              40.216745  40.673236  23.486704  4.846308  0.320955
Stelasyn              54.233149  52.431737  59.450562  7.710419  0.573111
Zoniferol             53.236507  51.818479  48.533355  6.966589  0.516398

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.

In [10]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen